# What Are Variables?

In [1]:
# Creating a variable to store a name
name = "Fahad"  # String data type (text)

# Creating a variable to store age
age = 25  # Integer data type (whole number)

# Printing values stored in variables
print(name)  # Output will be: Gul
print(age)   # Output will be: 25

# Updating age variable
age = 26  # We updated the value of age from 25 to 26
print("After birthday:", age)  # Output will be: After birthday: 26

Fahad
25
After birthday: 26

# 2. Data Types

In [ ]:
# Integer (whole number)
count = 10

# Float (decimal number)
price = 19.99

# String (text)
message = "Hello!"

# Boolean (True or False)
is_student = True

# Check data types of the variables using type()
print(type(count))       # Output: <class 'int'>
print(type(price))       # Output: <class 'float'>
print(type(message))     # Output: <class 'str'>
print(type(is_student))  # Output: <class 'bool'>

# Using variables in a sentence
print("Items:", count, "Price:", price)  # Output: Items: 10 Price: 19.99
print("Message:", message, "Student?", is_student)  # Output: Message: Hello! Student? True

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
Items: 10 Price: 19.99
Message: Hello! Student? True

# Try it: Your Age and Height

In [ ]:
# Creating age (int) and height (float)
my_age = 15  # Integer
my_height = 5.7  # Float

# Printing values and types
print("My Age:", my_age)             # Output: My Age: 15
print("My Height:", my_height)       # Output: My Height: 5.7
print(type(my_age))                  # Output: <class 'int'>
print(type(my_height))               # Output: <class 'float'>

My Age: 15
My Height: 5.7
<class 'int'>
<class 'float'>

# 3. Operators

In [ ]:
# Arithmetic Operators
a = 10
b = 3

print("Addition:", a + b)        # 10 + 3 = 13
print("Subtraction:", a - b)     # 10 - 3 = 7
print("Multiplication:", a * b)  # 10 * 3 = 30
print("Division:", a / b)        # 10 / 3 = 3.333... (Float division)
print("Integer Division:", a // b)  # 10 // 3 = 3 (removes decimal)
print("Modulus:", a % b)         # 10 % 3 = 1 (remainder)
print("Power:", a ** 2)          # 10^2 = 100

# Comparison Operators
print("Is a equal to b?", a == b)    # False because 10 is not equal to 3
print("Is a greater than b?", a > b) # True because 10 is greater than 3

# Logical Operators
x = True
y = False

print("x and y:", x and y)  # False (both need to be True)
print("x or y:", x or y)    # True (at least one is True)
print("not x:", not x)      # False (opposite of True)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Integer Division: 3
Modulus: 1
Power: 100
Is a equal to b? False
Is a greater than b? True
x and y: False
x or y: True
not x: False

# 4. Practice Exercise 1: Area of Rectangle

In [ ]:
# Create variables for length and width
length = 5
width = 10

# Calculate area using multiplication
area = length * width

# Print the result in a full sentence
print("The area is", area, "square units.")  # Output: The area is 50 square units.

The area is 50 square units.

# 5. Practice Exercise 2: Swap Two Variables

In [ ]:
# Create variables with initial values
x = 100
y = 200

# Print before swapping
print("Before: x =", x, "y =", y)  # Output: x = 100, y = 200

# Swap values using a temporary variable
temp = x    # temp now has 100
x = y       # x gets value of y (200)
y = temp    # y gets value from temp (100)

# Print after swapping
print("After: x =", x, "y =", y)  # Output: x = 200, y = 100

Before: x = 100 y = 200
After: x = 200 y = 100

# 6. Bonus: Even Number Check

In [ ]:
# Create a variable with any integer
number = 17

# Check if the number is even using modulus (%)
is_even = number % 2 == 0  # True if divisible by 2, else False

# Print the result
print(is_even)  # Output: False because 17 is an odd number

False
True

In [ ]:
number = 16
print(number % 2 == 0)  # Output: True

True

# Homework Suggestions (Optional)

In [ ]:
# Favorite number and movie
fav_number = 7
fav_movie = "Interstellar"

# Print them
print("Favorite number:", fav_number)
print("Favorite movie:", fav_movie)

# Experiment: Division by zero
# This will give an error: ZeroDivisionError: division by zero
# Uncomment below line to see the error
# print(10 / 0)

Favorite number: 7
Favorite movie: Interstellar